.button {
    -fx-background-color:
            linear-gradient(#ff5400, #be1d00),
            linear-gradient(#be1d00 0%, #ff5400 50%, #be1d00 100%),
            linear-gradient(#be1d00, #ff5400);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color:
            linear-gradient(#ff5400, #d43900),
            linear-gradient(#d43900 0%, #ff5400 50%, #d43900 100%),
            linear-gradient(#d43900, #ff5400);
}

.button:pressed {
    -fx-background-color:
            linear-gradient(#d43900, #be1d00),
            linear-gradient(#be1d00 0%, #d43900 50%, #be1d00 100%),
            linear-gradient(#be1d00, #d43900);
}

.error-label {
    -fx-text-fill: red;
}

